@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('/fonts/SF-Pro-Rounded-Regular.woff2') format('woff2'),
       url('/fonts/SF-Pro-Rounded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('/fonts/SF-Pro-Rounded-Bold.woff2') format('woff2'),
       url('/fonts/SF-Pro-Rounded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'SF Pro Rounded', sans-serif;
}
